<%= render(:partial=>"navbar") %>

<div class="container" style="margin-top: 100px">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" style="padding: 10px; background-color: #f7f7f7">
    <div class="lead">Log in</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-group' }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Email' %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'form-control btn btn-primary' %>
        </div>
    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>
