
<%= render(:partial=>"navbar") %>
<script src="../../assets/notice.js"></script>
<style src="../../assets/notice.css"></style>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <h3 class="text-center">Dashboard</h3>
    <div class="row">
      <strong>IMPORTANT NOTICE</strong>
      <span class="readMore pull-right text-info">Hide</span>
      <div class="col-sm-12 col-xs-12 lead" id="notice" style="box-shadow: 1px 1px 2px #888888; background-color: #f7f7f7">
        <ul>
          <li>Welcome to fund foundation Nigeria. Please take note of the following:</li>
          <li>You will be paired with an uplink in 30 mins.</li>
          <li>You have 24 hours to make payment and get confirmed.</li>
          <li>Incomplete Registrations will be deleted by admins.</li>
          <li>All Cyber Beggars should be reported to admin.</li>
        </ul>
      </div>
    </div>
    <% flash.each do |_, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <div class="col-sm-4 col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User Information</h3>
        </div>
        <table class="table">
          <thead>
          <th>Personal Profile</th>
          </thead>
          <tbody>
          <tr>
            <td>Name: <%= current_user.first_name %> <%= current_user.last_name %> </td>
          </tr>
          <tr>
            <td>Email: <%= current_user.email %> </td>
          </tr>
          <tr>
            <td>Phone Number: <%= current_user.phone_number %> </td>
          </tr>
          <tr>
            <td>Account Status: <%= current_user.status.capitalize %> </td>
          </tr>
          <tr>
            <td>Update package (current package: <%= @current_package %>)
              <%= form_tag('/user/dashboard/packages', method: 'post', style: 'margin-top: 10px') do  %>
                  <select name="package_select">
                    <% @packages.each do |package| %>
                        <option value="<%= package.id %>"><%= package.name %></option>
                    <% end %>
                  </select>
                  <button type="submit">Update</button>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Bank Information</h3>
        </div>
        <table class="table">
          <thead>
          <th>Bank Profile</th>
          </thead>
          <tbody>
          <tr>
            <td>Bank: <%= current_user.bank.name %></td>
          </tr>
          <tr>
            <td>Account Name: <%= current_user.bank.account_name %></td>
          </tr>
          <tr>
            <td>Account Number: <%= current_user.bank.account_number %></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">UPLINK</h3>
          </div>
          <div class="panel-body" id="container-uplink">
            Awaiting Pairing
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Referral</h3>
          </div>
          <div class="panel-body">
            <%= link_to "Invite a user", new_user_invitation_path, :id => "button_id", :class => "btn btn-default" %>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Proof Of Payment (pop)</h3>
          </div>
          <div class="panel-body">
            <form method="get" action="/user/upload_proof" id="form-upload-pop">
              <button class="btn btn-default col-sm-5" id="button-upload-pop" role="button" type="submit" style="cursor: pointer">
                assert payment
              </button>
            </form>
            <div class="col-sm-2"></div>
            <form method="get" action="/user/confirm_proof" id="form-confirm-pop">
              <button class="btn btn-default col-sm-5" id="button-confirm-pop" role="button" type="submit" style="cursor: pointer" >
                confirm payment
              </button>
            </form>
          </div>
        </div>

      </div>

    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">DOWNLINKS</h3>
          </div>
          <div class="panel-body" id="container-downlink">

          </div>
        </div>
      </div>
      <% unless @current_user.activated? || @current_user.matches.where(completion_status: 'pending').length > 1 %>
          <div class="col-sm-12 col-sm-12" id="donation-container">
            <div class="panel panel-default">
              <%= form_tag('/user/dashboard/donate', method: 'post') do %>
                  <button class="btn btn-primary" style="margin: 10px">Donate</button>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>


    <script defer>
      var upLinkContainer = document.getElementById('container-uplink');
      var downLinkContainer = document.getElementById('container-downlink');

      function httpGetAsync(theUrl, callback)
      {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            callback(xmlHttp.response);
          }
        };
        xmlHttp.open("GET", theUrl, true);
        xmlHttp.send(null);
      }

      function populateMatchContainers() {
        httpGetAsync('/user/match/uplink', function(response) {
          response = JSON.parse(response);

          if (response.status == 'SUCCESS') {
            var responseData = response.data;

            if (responseData.length != 0) {
              upLinkContainer.innerHTML = 'Full name:  '+responseData.first_name + ' ' + responseData.last_name +
                  '<br>Bank Name:  ' + responseData.bank_name +
                  '<br>Account Number:  ' + responseData.account_number + '<br>Phone Number:  ' + responseData.phone_number +
                  '<br>Uplink ID: ' + responseData.match_id;
            }
          }
        });

        httpGetAsync('/user/match/downlink', function(response) {
          response = JSON.parse(response);

          if (response.status == 'SUCCESS') {
            var responseData = response.data;
            console.log(responseData);
            if (responseData.length != 0) {
              downLinkContainer.innerHTML = '';
              responseData.forEach(function (responseData) {
                downLinkContainer.innerHTML += '<div class="col-sm-4">' + 'Username: '+responseData.first_name + ' ' + responseData.last_name +
                    '<br>Phone Number: ' + responseData.phone_number + '</div>';
              });

            } else {
              downLinkContainer.innerHTML = 'Awaiting Pairing.'
            }
          }
        })
      }

      document.getElementById('button-upload-pop').ontouchstart = function() {
        document.getElementById('form-upload-pop').submit();
      };

      document.getElementById('button-confirm-pop').ontouchstart = function() {
        document.getElementById('form-confirm-pop').submit();
      };

      populateMatchContainers();
    </script>
  </div>
  <div class="row">
    <%= render(:partial=>"footer")%>
  </div>
</div>